.title {
    color: #17a2b8;
    text-align: center;
}
  
html,body {
    position: relative;
    margin: 0;
} 

html::before {
    content:"";
    position:fixed;
    min-width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: -1;
    opacity:0.2;
    background: url('images/globe.png') no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#main .container #container-row #container-column #container-box {
    margin-top: 5px;
    max-width: 2000px;
    border: 2px solid #9C9C9C;
    background-color: #faf8f8;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
}

#loginDiv {
    width: 90%;
}
/* #login-form .container #login-row #login-column #login-box #login-form {
    padding: 0px;
    display: flex;
    flex-direction: column;
} */

/* #login-form .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
} */

.nav {
    display: flex;
    padding: 4px;
    color: white;
}

#container-box {
    width: 80%;
    margin: auto;
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px;
    align-items: center;
}

/* #card-body {
    table-layout: auto;
    width: 100%;
} */

tr.border_bottom td {
    border-bottom: 1px solid black;
}

tr.border_top td {
    border-top: 1px solid black;
}

#profileDiv {
    width: 90%;
}



#contactsDiv {
    width: 90%;
}

.btn {
    margin: 13px 12px 12px 10px;
    width: auto;
}

.table-striped {
    table-layout:auto; width: 100%;
    font-size: 12px;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;    
}

#btn_next {
    float-right;
}

#data_index {
    font-weight: bold;
}

.mapColumn {
    margin-left:auto; 
    margin-right:auto;
    float: right;
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
}

.contactColumn {
    margin-left:auto; 
    margin-right:auto;
    font-size: 12px;
    float: left;
    width: 400px;
}

.hidden {
    display: none;
}

.editContact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form {
    width: 100%;
    margin: 0 auto;
  }

label, input {
    /* In order to define widths */
    display: inline-block;
}

label {
    width: 80c;
    display: inline-block;
    margin-left: 32px;
}

input, textarea {
    text-align: left;
    width: 20em;
}

label+input {
    width: 40%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 20% 0 3%;
}

.addContact {
    width: 150px;
}