.title {
    /* text-shadow: 3px 3px #000000; */
    color: #17a2b8;
}
  
body {
    margin: 0;
    padding: 0;
    /* background-color: #87ceeb; */
    /* background-image: url("images/globe.png"); */
    /* background-size:100% 100%;
    background-repeat: no-repeat; */
    
    height: 100vh;
    color: 
} 

body::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: -1;
    opacity:0.4;
    background-image: url('images/globe.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#main .container #container-row #container-column #container-box {
    margin-top: 10px;
    max-width: 2000px;
    border: 2px solid #9C9C9C;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

#login-form .container #login-row #login-column #login-box #login-form {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#login-form .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.nav {
    display: flex;
    padding: 4px;
    
    color: white;
}

#container-box, th, td {
    max-width: 100%;
    border: 0px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    align-items: center;
}

#card-body {
    table-layout: auto;
    width: 100%;
}

.table {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table-borderless td, .table-borderless th {
    border: 0;
}

tr.border_bottom td {
    border-bottom: 1px solid black;
}

tr.border_top td {
    border-top: 1px solid black;
}

#profileDiv {
    width: 90%;
}

#loginDiv {
    width: 90%;
}

#contactsDiv {
    width: 90%;
}

btn {
    margin: 13px 12px 12px 10px;
}

.table-striped {
    font-size: 12px;
    
}


#btn_next {
    float-right;
}
